PROJECT_ID=3                                         # For exemple 3 - Change if you deploy another Listeem instance on the same server
COMPOSE_PROJECT_NAME=listeem_${PROJECT_ID}           # No need to change it
MYSQL_USER=XXXX                                      # For exemple user1
MYSQL_PASSWORD=XXXX                                  # For exemple pass1
MYSQL_ROOT_PASSWORD=XXXX                             # For exemple rootpass
MYSQL_DATABASE=listeem_container_db                  # No need to change it but if you want you can
KEY_TO_ENCRYPT_DECRYPT_DB=XXXX                       # For exemple 5465sdfsd63774sdf654sdf
HTTP_PORT=XXXX                                       # For example 8077 - Change if you deploy another Listeem instance on the same server
HTTPS_PORT=XXXX                                      # For example 8078 - Change if you deploy another Listeem instance on the same server
SERVER_NAME=XXXXXXXXX                                # For exemple exemple.com or localhost
#SSL_CERT_FILE=/etc/apache2/ssl/fullchain.pem        # Uncomment if you provide your own certificate for https into ssl folder
#SSL_KEY_FILE=/etc/apache2/ssl/privkey.pem           # Uncomment if you provide your own certificate for https into ssl folder
